<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Books</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
              <a class=".card-link" href="/book/add" style="float: right;">
                <button class="btn" style="background-color: #2980b9;color: white;">Add book</button>
              </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover w.auto">
                <thead class="thead-dark">
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Option</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each bookList}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.price}}</td>
                    <td>
                      {{#each this.category}}
                      {{this.name}} <span>, </span>
                      {{/each}}
                    </td>
                    <td>{{this.author.name}}</td>
                    <td>{{this.image}}</td>
                    <td>{{this.date}}</td>
                    <td style="text-align: center;">
                      <a href="/book/update?id={{this._id}}">
                        <i class="far fa-edit"></i>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- page script -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>